@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board {
    width: fit-content;
    margin: 40px auto;
    text-align: center;
    
}

.board h1 {
    color: #eee;
    margin-bottom: 16px;
}

.board button {
    padding: 8px 12px;
    margin: 25px;
    background: transparent;
    border: 2px solid #b31f1f;
    color: #eee;
    width: 100px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
}


.board .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.turn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: fit-content;
    position: relative;
    border-radius: 10px;
}

.turn .square,
.winner .square {
    width: 70px;
    height: 70px;
    pointer-events: none;
    border-color: transparent;
}

.square.is-selected {
    color: #bfafaf;
    background: rgb(221, 13, 13);
}

.winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
    background: #111;
    height: 300px;
    width: 320px;
    border: 2px solid #ddd1d1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.winner .win {
    margin: 0 auto;
    width: fit-content;
    border: 2px solid #da1010;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid #dd1414;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 48px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.revealed {
    background-color: #ccc;
}

.gradient-text {
    animation: fluido 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fluido {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.gradient-text-1 {
    animation: fluido 5s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fluido {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}


